let cart = []

let products = [
{
nome:"Pulseira Masculina",
preco:39
},
{
nome:"Corrente Aço",
preco:59
},
{
nome:"Relógio Masculino",
preco:120
}
]

let list = document.getElementById("productList")

if(list){

products.forEach((p,i)=>{

list.innerHTML += `

<div class="product">

<h3>${p.nome}</h3>

<p>R$ ${p.preco}</p>

<button onclick="addCart(${i})">Comprar</button>

</div>

`

})

}

function addCart(i){

cart.push(products[i])

updateCart()

}

function updateCart(){

let items = document.getElementById("cartItems")

let total = 0

items.innerHTML=""

cart.forEach(p=>{

items.innerHTML += `<p>${p.nome} - R$ ${p.preco}</p>`

total += p.preco

})

document.getElementById("cartTotal").innerText = total

document.getElementById("cartCount").innerText = cart.length

}

function toggleCart(){

document.getElementById("cart").classList.toggle("open")

}

function login(){

let user = document.getElementById("user").value
let pass = document.getElementById("pass").value

if(user=="admin" && pass=="123"){

window.location="pedidos.html"

}else{

alert("Login errado")

}

}

function finalizarPedido(){

alert("Pedido enviado!")

}
